/* HimnoDetail.css */

.himno-detail-container {
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  padding: 20px;
}

.himno-detail-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.himno-detail-container p {
  font-size: 18px;
  margin-bottom: 8px;
}

.himno-detail-container h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.parrafos-container {
  display: grid;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
}

.card-body {
  padding: 20px;
}

.card-text {
  font-size: 16px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
