.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(4, 35, 54);
}

.title_404 {
  font-size: 10rem;
  color: brown;
  margin-bottom: 0;
}

.text_404 {
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
  color: #f75e06;
}

.btn_404 {
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #f70e06;
  text-decoration: none;
  color: #000;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.inicio {
  text-decoration: none;
  color: azure;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .title_404 {
    font-size: 5rem;
  }
  .text_404 {
    font-size: 1.5rem;
  }
  .btn_404 {
    font-size: 1rem;
  }
  .inicio {
    text-decoration: none;
    color: azure;
    font-size: 16px;
    text-transform: uppercase;
  }
}
