@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.background {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  color: #fff;
}

.main-title {
  font-family: "Great Vibes", cursive;
  font-size: 50px;
}

.buttons {
  margin-top: 40px;
}
.logo-home {
  display: none;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 10px;
  background: rgb(37, 98, 136);
}
.btn2 {
  display: inline-block;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 10px;
  background-color: #fff;
}

.btn:hover {
  background-color: #f5eded;
  color: black;
}

@media (max-width: 768px) {
  .container {
    background-size: cover;
    background-position: center;
  }
  .main-title {
    font-family: "Great Vibes", cursive;
    font-size: 25px;
  }
  .container .content p {
    text-align: center;
    font-size: 14px;
  }

  .btn {
    display: block;
    margin: 10px;
    border-radius: 10px;
    font-size: 14px;
  }
  .btn2 {
    display: block;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 10px;
    font-size: 14px;
    background-color: #fff;
  }
  .logo-home {
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 6px rgba(243, 243, 241, 0.925);
  }

  @media (max-width: 280px) {
    .logo-home {
      display: flex;
      margin: 0 auto;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      margin-bottom: 20px;
      box-shadow: 3px 3px 6px rgba(243, 243, 241, 0.925);
    }

    .main-title {
      font-family: "Great Vibes", cursive;
      font-size: 20px;
    }
    .container p {
      text-align: center;
      font-size: 14px;
    }

    .btn {
      display: block;
      padding: 5px 10px;
      margin: 10px;
      border-radius: 10px;
      font-size: 12px;
    }
    .btn2 {
      display: block;
      padding: 5px 10px;
      color: #000;
      text-decoration: none;
      border-radius: 10px;
      margin: 0 10px;
      font-size: 12px;
      background-color: #fff;
    }
  }
}
